<div class="row">
  <div class="col-8">
    <div class="card mb-3">
      <img class="card-img-top" src="https://source.unsplash.com/featured/?<%= @cocktail.name %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= @cocktail.name %></h5>
        <% @cocktail.doses.each do |d| %>
          <p class="card-text"><%= d.ingredient.name %> : <%= d.description %></p>
          <p class="card-text"><small class="text-muted"><%= link_to "Remove", dose_path(d), method: :delete %></small></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <%= simple_form_for [ @cocktail, @dose ] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Add dose", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

