<h2><%= @cocktail.name %></h2>
<% @cocktail.doses.each do |d| %>
  <ul>
    <li><%= d.ingredient.name %></li>
    <%= link_to "Remove", dose_path(d), method: :delete %>
  </ul>
<% end %>
<p><%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %></p>
<p><%= link_to "Back to list", cocktails_path %></p>
